QWidget {
    font-size: 15px;
}

QLineEdit {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #888;
}

QPushButton {
    padding: 8px 12px;
    background-color: #5A9CF3;
    color: white;
    border-radius: 6px;
}

QPushButton:hover {
    background-color: #3C82E2;
}
